################################################
## useDynLib
################################################

useDynLib("fBasics")

################################################
## import name space
################################################

import("stabledist")
## FIXME: use importFrom() for the larger packages!
import("MASS")
import("methods")
import("timeDate")
import("timeSeries")

if(getRversion() >= "2.14.0") {
    importFrom(stats, "getCall")
    ## exportMethods("getCall" )
} else {
    export("getCall")
}

################################################
## S4 classes
################################################

exportClasses("fDISTFIT",
              "fHTEST" )
exportMethods("show" )

################################################
## S3 classes
################################################

S3method("stdev", "default")
S3method("termPlot", "default")
S3method("volatility", "default")

################################################
## functions
################################################

export(
    ".HAC",
    ".aRecursionGH",
    ".acfPlot",
    ".adGLD",
    ".ansari2Test",
    ".ansariTest",
    ".asRGB",
    ".bartlett2Test",
    ".besselZ",
    ".blue2greenPalette",
    ".blue2redPalette",
    ".blue2yellowPalette",
    ".bwAndrews2",
    ".bwNeweyWest2",
    ".ccfPlot",
    ".chcode",
    ".checkGHMuMoments",
    ".checkGHRawMoments",
    ".circlesPlot",
    ".cnvrt.coords",
    ".contourPlot",
    ".counts1Plot",
    ".counts2Plot",
    ".cvmGLD",
    ".cyan2magentaPalette",
    ".dec.to.hex",
    ".deltaKappaGH",
    ".dgld",
    ".dhyp1",
    ".dhyp2",
    ".dhyp3",
    ".dhyp4",
    ".distCheck",
    ".distFitPlot",
    ".distStandardErrors",
    ".dssden",
    ".emptyPlot",
    ".firePlot",
    ".fligner2Test",
    ".gel",
    ".get_dat",
    ".get_lamb",
    ".ghCentralMoments",
    ".ghMuMoments",
    ".ghMuMomentsIntegrated",
    ".ghRawMoments",
    ".ghRawMomentsIntegrated",
    ".gl.check.lambda",
    ".gl.parameter.tidy",
    ".gldFit.gof",
    ".gldFit.hist",
    ".gldFit.mle",
    ".gldFit.mps",
    ".gldFit.rob",
    ".gmm",
    ".green2redPalette",
    ".heavisideSlider",
    ".hex.to.dec",
    ".histStack",
    ".hyp1Mode",
    ".hyp2Mode",
    ".hyp3Mode",
    ".hyp4Mode",
    ".hyperb.change.pars",
    ".is.positive.definite",
    ".jb.test",
    ".jbALM",
    ".jbLM",
    ".jbPlot",
    ".jbTable",
    ".kappaGH",
    ".ksGLD",
    ".kurtosis.test",
    ".kw2Test",
    ".kweights",
    ".lintest",
    ".lmacfPlot",
    ".logpdfPlot",
    ".make.positive.definite",
    ".maxddStats",
    ".mleStableFit",
    ".moodTest",
    ".mrlPlot",
    ".nigFit.gmm",
    ".nigFit.mle",
    ".nigFit.mps",
    ".nigFit.vmps",
    ".normFit",
    ".omnibus.test",
    ".pacfPlot",
    ".paramGH",
    ".perspPlot",
    ".pgld",
    ".phiStable",
    ".phyp1",
    ".phyp2",
    ".phyp3",
    ".phyp4",
    ".pjb",
    ".plot",
    ".plot.histogram",
    ".pnigC",
    ".predict",
    ".print",
    ".print.ssd",
    ".psnigC",
    ".pssden",
    ".purple2greenPalette",
    ".qStableFit",
    ".qdgl.fm5",
    ".qdgl.fmkl",
    ".qdgl.rs",
    ".qdgld",
    ".qgl.fm5",
    ".qgl.fmkl",
    ".qgl.rs",
    ".qgld",
    ".qhyp1",
    ".qhyp2",
    ".qhyp3",
    ".qhyp4",
    ".qjb",
    ".qnigC",
    ".qqgaussPlot",
    ".qsnigC",
    ".qssden",
    ".recessionLines",
    ".residualsPlot",
    ".responsesPlot",
    ".rghyp",
    ".rgigjd",
    ".rgigjd1",
    ".rgld",
    ".rho",
    ".rhyp1",
    ".rhyp2",
    ".rhyp3",
    ".rhyp4",
    ".rhyperb",
    ".rmetricsPackages",
    ".rmetricsUnitTest",
    ".runitTest",
    ".skewness.test",
    ".sliderMenu",
    ".smooth_g",
    ".ssden",
    ".stablePlot",
    ".stylizedFactsGUI",
    ".subPlot",
    ".subStars",
    ".summary",
    ".summary.gel",
    ".summary.gmm",
    ".tTest",
    ".tdSliderMenu",
    ".tslag1",
    ".unirootNA",
    ".varfTest",
    ".varpieDemo",
    ".varpiePlot",
    ".weightsAndrews2",
    ".xrug",
    ".yrug",
    "Boxcar",
    "Delta",
    "Heaviside",
    "Ramp",
    "Sign",
    "Triang",
    "acfPlot",
    "adTest",
    "akimaInterp",
    "akimaInterpp",
    "basicStats",
    "boxL",
    "boxPercentilePlot",
    "boxPlot",
    "box_",
    "characterTable",
    "cmPalette",
    "colIds",
    "colIds<-",
    "colVec",
    "colorLocator",
    "colorMatrix",
    "colorTable",
    "copyright",
    "correlationTest",
    "countFunctions",
    "cumulatedPlot",
    "cvmTest",
    "dagoTest",
    "decor",
    "densityPlot",
    "dgh",
    "dght",
    "dgld",
    "dhyp",
    "distCheck",
    "divPalette",
    "dmaxdd",
    "dnig",
    "drawdownPlot",
    "dsgh",
    "dsght",
    "dsnig",
    "dssd",
    "focusPalette",
    "get.lcgseed",
    "getArgs",
    "getDescription",
    "getModel",
    "getSlot",
    "getTitle",
    "ghFit",
    "ghIQR",
    "ghKURT",
    "ghKurt",
    "ghMED",
    "ghMean",
    "ghMode",
    "ghMoments",
    "ghSKEW",
    "ghSkew",
    "ghSlider",
    "ghVar",
    "ghtFit",
    "ghtIQR",
    "ghtKURT",
    "ghtKurt",
    "ghtMED",
    "ghtMean",
    "ghtMode",
    "ghtMoments",
    "ghtSKEW",
    "ghtSkew",
    "ghtVar",
    "gldFit",
    "gldIQR",
    "gldKURT",
    "gldMED",
    "gldMode",
    "gldSKEW",
    "greyPalette",
    "gridVector",
    "heatPalette",
    "hgrid",
    "hilbert",
    "histPlot",
    "hypFit",
    "hypIQR",
    "hypKURT",
    "hypKurt",
    "hypMED",
    "hypMean",
    "hypMode",
    "hypMoments",
    "hypSKEW",
    "hypSkew",
    "hypSlider",
    "hypVar",
    "interactivePlot",
    "inv",
    "isPositiveDefinite",
    "jarqueberaTest",
    "jbTest",
    "kendallTest",
    "krigeInterp",
    "kron",
    "ks2Test",
    "ksnormTest",
    "lacfPlot",
    "lillieTest",
    "linearInterp",
    "linearInterpp",
    "listDescription",
    "listFunctions",
    "listIndex",
    "locationTest",
    "logDensityPlot",
    "makePositiveDefinite",
    "maxddStats",
    "monoPalette",
    "nFit",
    "nigFit",
    "nigIQR",
    "nigKURT",
    "nigKurt",
    "nigMED",
    "nigMean",
    "nigMode",
    "nigMoments",
    "nigSKEW",
    "nigShapeTriangle",
    "nigSkew",
    "nigSlider",
    "nigVar",
    "norm",
    "normIQR",
    "normKURT",
    "normMED",
    "normSKEW",
    "normalTest",
    "pacfPlot",
    "pascal",
    "pchiTest",
    "pdl",
    "pearsonTest",
    "pgh",
    "pght",
    "pgld",
    "phyp",
    "pmaxdd",
    "pnig",
    "print.control",
    "psgh",
    "psght",
    "psnig",
    "pssd",
    "qgh",
    "qght",
    "qgld",
    "qhyp",
    "qnig",
    "qqghtPlot",
    "qqgldPlot",
    "qqnigPlot",
    "qqnormPlot",
    "qsgh",
    "qsght",
    "qsnig",
    "qssd",
    "qualiPalette",
    "rainbowPalette",
    "rampPalette",
    "returnPlot",
    "returnSeriesGUI",
    "rgh",
    "rght",
    "rgld",
    "rhyp",
    "rk",
    "rmaxdd",
    "rnig",
    "rnorm.lcg",
    "rowAvgs",
    "rowIds",
    "rowIds<-",
    "rowKurtosis",
    "rowMaxs",
    "rowMins",
    "rowProds",
    "rowQuantiles",
    "rowSds",
    "rowSkewness",
    "rowStats",
    "rowStdevs",
    "rowVars",
    "rowVec",
    "rsgh",
    "rsght",
    "rsnig",
    "rssd",
    "rt.lcg",
    "runif.lcg",
    "sampleIQR",
    "sampleKURT",
    "sampleLmoments",
    "sampleMED",
    "sampleSKEW",
    "scaleTest",
    "scalinglawPlot",
    "seqPalette",
    "seriesPlot",
    "set.lcgseed",
    "sfTest",
    "sghFit",
    "shapiroTest",
    "snigFit",
    "spearmanTest",
    "ssdFit",
    "stableFit",
    "stableSlider",
    "stdev",
    "symbolTable",
    "tFit",
    "teffectPlot",
    "termPlot",
    "terrainPalette",
    "timPalette",
    "topoPalette",
    "tr",
    "triang",
    "tsHessian",
    "tslag",
    "varianceTest",
    "vec",
    "vech",
    "vgrid",
    "volatility" )
